/*--------------------------------- Definição das cores ---------------------------------*/
:root {
    
    --cor-primaria: #7F49B4;
    --cor-secundaria: #3A2F70;
    --cor-terciaria: #596EB1;
    --cor-contraste: #FFD166;
    --cor-claro: #CFCFCF;
    --cor-marfim: #fffff0;
    --cor-escuro: #141414;
    

    /*
    --cor-primaria: #141414;
    --cor-secundaria: #7f49b4;
    --cor-terciaria: #596EB1;
    --cor-contraste: #FFD166;
    --cor-claro: #CFCFCF;
    --cor-marfim: #fffff0;
    --cor-escuro: #141414;
    */
}

/*--------------------------------- Definição da fonte ---------------------------------*/
@font-face {
    font-family: 'Bebas'; /* Nome que você vai chamar */
    src: url('fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
}

/*--------------------------------- Criação de links imbutidos, para que fique direitinho no texto ---------------------------------*/
.embedLink {
    text-decoration: none;
    color: white;
    transition: 0.15s;
}

/* Hover dos links imbutidos, para que assim sejam reconhecidos */
.embedLink:hover {
    color: var(--cor-contraste);
    font-size: 45px;
    transition: 0.15s;
}

/*--------------------------------- Atributos do Body ---------------------------------*/
html, body {
    /* Background Principal */
    background-color: var(--cor-secundaria);

    /* Zerando variáveis */
    margin: 0;
    padding: 0;

    /* Dimensionando*/
    max-width: 100%; max-height: 100%;

    /* Fonte Padrão */
    font-family: 'Bebas';

    /* Suavização de Scroll */
    scroll-behavior: smooth;
}

/*--------------------------------- Nav ---------------------------------*/
.navigation {
    /* Background da Nav */
    background-color: var(--cor-secundaria);
    /* Position */
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    /* Text */
    font-size: larger;
    /* Formato */
    padding: 20px;

    transition: 0.3s;
}

.navigation p {
    margin: 0;
    color: white;
    font-size: larger;
}

.navigation nav {
    margin-left: 40%;
}

.navigation a {
    transition: 0.3s;
    text-decoration: none;
    color: var(--cor-claro);
    padding: 5px;
    font-size: larger;
}

.navigation a:hover {
    transition: 0.3s;
    color: var(--cor-contraste);
    font-size: 20px;
}

.navigation #linkComeco:hover {
    cursor:pointer;
}

/*--------------------------------- Título principal do site ---------------------------------*/
.titulo {
    /* Background */
    background-image: url(assets/VaporWave2460x1440.png);
    background-size: cover;
    background-position: center;

    /* Tamanho */
    padding: 40px 0 0 0;
    height: 90vh;
}

.titulo h1 {
    /* Fonte */
    font-size: 80px;
    color: var(--cor-marfim);

    /* Tamanho */
    width: 400px;
    /*height: 100%;*/

    /* Posição */
    margin: 0 0 50px 150px;
}

.titulo p {
    /* Fonte */
    font-size: 40px;
    color: var(--cor-marfim);

    /* Tamanho */
    width: 650px;
    /*height: 100%;*/

    /* Posição */
    margin: 0 0 0 300px;
}

/*--------------------------------- Objetivos ---------------------------------*/
.objetivo {
    /* Background */
    background-color: var(--cor-primaria);

    /* Tamanho */
    padding: 24px 0 24px 0;
}

.objetivo h1 {
    /* Fonte */
    font-size: 80px;
    color: var(--cor-marfim);

    /* Posição */
    margin: 0 50px 15px 150px;
}

.objetivo p {
    /* Fonte */
    font-size: 40px;
    color: var(--cor-marfim);
    
    /* Posição */
    margin: 0 50px 0 300px;
}

/*------------------------------- Justificativa ---------------------------------*/
.justificativa {
    /* Cor de fundo*/
    background-color: var(--cor-secundaria);

    /* Tamanho */
    padding: 24px 0 24px 0;
}

.justificativa h1 {
    /* Fonte */
    font-size: 80px;
    color: var(--cor-marfim);

    /* Posição */
    margin: 0 50px 15px 150px;
}

.justificativa p {
    /* Fonte */
    font-size: 40px;
    color: var(--cor-marfim);

    /* Posição */
    margin: 0 50px 0 300px;
}
/*------------------------------- Requisitos do Sistema ---------------------------------*/
.requisitos {
    /* Cor de fundo*/
    background-color: var(--cor-primaria);

    /* Posição */
    padding: 24px 0 24px 0;
}

.requisitos h1 {
    /* Fonte */
    font-size: 80px;
    color: var(--cor-marfim);

    /* Tamanho */
    margin: 0 0 15px 150px;
}

.requisitos h2 {
    /* Fonte */
    font-size: 60px;
    color: var(--cor-marfim);

    /* Tamanho */
    margin: 0 0 15px 250px;
}

.requisitos p {
    /* Fonte */
    font-size: 40px;
    color: var(--cor-marfim);

    /* Tamanho */
    margin: 0 0 0 300px;
}

/* Carrocel */
.carousel-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.carousel {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    /*margin: 0 130px 0 300px;*/
}

.prevRF {
    /* Aparência */
    background:none;
    border: none;
    color: var(--cor-marfim);

    /* Posição */
    margin: 0 0 0 280px;
}

.prevRNF {
    /* Aparência */
    background:none;
    border: none;
    color: var(--cor-marfim);

    /* Posição */
    margin: 0 0 0 420px;
}

.card {
    transition: 0.3s;

    flex-shrink: 0;

    /* Criação da scrollbar */
    overflow-y: auto;
    /* Firefox*/
    scrollbar-width: none;
    /* Chrome, Safari e Edge */
    .card::-webkit-scrollbar {
        display: none;
    }
    
    /* Aparência */
    background: var(--cor-secundaria);
    border-radius: 12px;

    /* Fonte */
    color: var(--cor-marfim);

    /* Tamanho */
    min-width: 250px;
    max-width: 500px;
    max-height: 300px;
    padding: 16px;
    
    /* Posição */
    margin: 0 16px 20px 0;
    /*margin-right: 16px;*/
}

.card:hover {
    /*transform: scale(1.05);*/
    transition: 0.3s;
    background-color: var(--cor-contraste);
    
    h1, li {
        color: var(--cor-escuro);
    }
}

.card h1 {
    /* Fonte */
    font-size: 40px;
    text-align: center;

    /* Posição */
    margin: 0 20px 0 20px;
}

.card li {
    /* Fonte */
    font-size: 25px;
    color: var(--cor-contraste);

    /* Posição */
    margin: 0 0 5px 0;
}

.nextRF {
    background:none;
    border: none;
    color: var(--cor-marfim);

    margin: 0 130px 0 0;
}

.nextRNF {
    background:none;
    border: none;
    color: var(--cor-marfim);

    margin: 0 130px 0 0;
}

/*------------------------------- Diagrama de Caso de Uso ---------------------------------*/
.diagramaDeCasoDeUso {
    /* Cor de fundo*/
    background-color: var(--cor-secundaria);

    /* Tamanho */
    padding: 24px 0 24px 0;
}

.diagramaDeCasoDeUso h1 {
    /* Fonte */
    font-size: 80px;
    color: var(--cor-marfim);

    /* Posição */
    margin: 0 50px 15px 150px;
}

.diagramaDeCasoDeUso p {
    /* Fonte */
    font-size: 40px;
    color: var(--cor-marfim);

    /* Posição */
    margin: 0 50px 0 300px;
}

/* Imagem do Diagrama em Si */
.imagemCasoDeUso {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.imagemCasoDeUso img {
    max-width: 70%;
    height: auto;
    border-radius: 12px;
}

/*--------------------------------- Diagrama de Classes ---------------------------------*/
.diagramaDeClasses {
    /* Cor de fundo*/
    background-color: var(--cor-primaria);

    /* Tamanho */
    padding: 24px 0 24px 0;
}

.diagramaDeClasses h1 {
    /* Fonte */
    font-size: 80px;
    color: var(--cor-marfim);

    /* Posição */
    margin: 0 50px 15px 150px;
}

.diagramaDeClasses p {
    /* Fonte */
    font-size: 40px;
    color: var(--cor-marfim);

    /* Posição */
    margin: 0 50px 0 300px;
}

/* Imagem do Diagrama em Si */
.imagemDiagramaClasses {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.imagemDiagramaClasses img {
    cursor: zoom-in;
    transition: 0.3s;
    
    max-width: 70%;
    height: auto;
    border-radius: 12px;
}

.imagemDiagramaClasses img:hover {
    transition: 0.3s;
    /*transform: scale(1.02);*/
    transform: scale(1.02);
}

/* Zoom de imagem melhorado*/

/* Imagem pequena */
.preview {
    max-width: 400px;
    cursor: pointer;
}

/* Fundo escuro */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Botão fechar */
.close {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

/* Área de zoom */
.zoom-container {
    width: 80%;
    height: 80%;
    overflow: hidden;
    cursor: zoom-in;
}

/* Imagem grande */
#zoomImg {
    min-width: 100%;
    width: 100%;
    /*transform-origin: top left;*/
    transform-origin: center;
    transition: transform 0.1s;
}

/*--------------------------------- Footer ---------------------------------*/
.ending {
    /* Aparência */
    background-color: var(--cor-secundaria);

    /* Fonte */
    color: var(--cor-claro);
    font-size: smaller;

    /* Tamanho */
    padding: 24px 10px 24px 10px;

    /* Posicionamento */
    
}

.ending a {
    /* Fonte */
    text-decoration: none;
    color: var(--cor-claro);
}

.ending li {
    list-style: none;
}

.imgBox {
    width: 24px;
    height: 24px;
    background-image: url("assets/icons/logotipo-do-instagram.png");
    background-size: cover;
    transition: 0.3s;
}

#instaLucio:hover {
    border-radius: 100%;
    background-image: url("assets/fotoPerfil/fotoInstaLucio.jpg");
    transition: 0.3s;
    transform: scale(1.2);
}

#instaGS:hover {
    border-radius: 100%;
    background-image: url("assets/fotoPerfil/fotoInstaDaviGS.jpg");
    transition: 0.3s;
    transform: scale(1.2);
}

#instaSaimo:hover {
    border-radius: 100%;
    background-image: url("assets/fotoPerfil/fotoInstaSaimo.jpg");
    transition: 0.3s;
    transform: scale(1.2);
}

/*--------------------------------- Outros ---------------------------------*/
.hidden {
    display: none;
}

/* Suavizando os links dos navs, e acrescentando o espaço do nav */
#navObjetivo, #navJustificativa, #navRequisitos, #navDiagramaDeCasoDeUso, #navDiagramaDeClasses {
    scroll-margin-top: 70px;
}